<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<h1>DIYVCV</h1>
<div>Do It Yourself Modular Synth Helper</div>
<div>Pick a module that you like and find the parts you need to make it !</div>

<div class="navbar">
    <a class="navlink" href="/Module/List">All Modules</a></br>
@*    <a class="navlink" href="/Component/List">List of Components</a>*@
</div>